.banner {
    height: 100vh; 
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), 
                url('../img/banner.jpg') no-repeat center center/cover; 
    text-align: center;
    margin: 0;
    padding: 0;

    .banner-content {
        h1 {
            font-size: 3rem;
            font-weight: 300; 
            color: $color-primario; 
            margin-bottom: 1rem;
        }

        p {
            font-size: 1.5rem;
            font-weight: 300;
            color: $color-secundario; 
            margin-bottom: 2rem;
        }

        .btn {
            padding: 0.75rem 1.5rem;
            font-size: 1.25rem;
            background-color: $color-acento; 
            color: white;
            border: none;
            border-radius: 20px;
            transition: background-color 0.3s, transform 0.3s;

            &:hover {
                background-color: $color-secundario; 
                transform: scale(1.05); 
            }
        }
    }
}