* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html, body {
    height: 100%; 
    margin: 0;
    padding: 0;
}

body {
    font-family: $font-family-suave; 
    margin: 0;
    padding: 0;
    background-color: $color-fondo-claro;
    color: $color-texto; 
    line-height: 1.6;
    letter-spacing: 0.5px; 
}