$color-primario: #561643; 
$color-secundario: #6C0E23; 
$color-acento: #C42021; 
$color-fondo-claro: #F3FFB9; 
$font-family: 'Arial, sans-serif';
$font-family-suave: 'Roboto', sans-serif; 
$color-texto: #6C0E23; 