$color-primario: #561643; // Fondo principal
$color-secundario: #6C0E23; // Botones del navbar
$color-acento: #C42021; // Rojo para hover
$color-fondo-claro: #F3FFB9; // Fondo claro
$font-family: 'Arial, sans-serif';
$font-family-suave: 'Roboto', sans-serif; // Fuente más suave
$color-texto: #6C0E23; // Color de texto principal (actualizado para evitar blanco)